---
---

@charset 'utf-8';

$background_color: #f0f0f0;
$base_font_family: 'Open Sans', 'Helvetica', sans-serif;
$text_color: #2c3e50;
$brand_color: #e22967;
$nav_link_color: #999;
$top_border_height: 4px;

$tablet: 960px;
$phone: 500px;

@import 'calendar', 'curriculum', 'getting_started', 'index', 'layout', 'links', 'media', 'navigation', 'post', 'resources';
@import url("http://fonts.googleapis.com/css?family=Open+Sans");
