<div id="navbar">
  <div class="header">
    <div class="logo">
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/logo.png" /></a>
    </div>

    <a id="nav_toggle">
      <span></span>
      <span></span>
      <span></span>
    </a>
  </div>

  <div class="clear"></div>

  <div class="content collapsed">
    {% include links.html %}
  </div>
</div>

<div id="sidebar">
  <div class="logo">
    <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/images/logo.png" /></a>
  </div>

  {% include links.html %}
</div>
