p {
  margin: 10px 0;
}

.activity_set {
  margin-bottom: 20px;
  overflow: hidden;
  white-space: nowrap;

  > div {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 125px;
  }

  p {
    margin-top: 10px;
  }
}
