body {
  color: $text_color;
  background-color: $background_color;
  font-family: $base_font_family;
}

a {
  text-decoration: none;
  outline: none;
  color: $brand_color;
}

.clear {
  clear: both;
}

#page {
  border-top: $top_border_height solid $brand_color;
  padding-left: 250px;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding-top: 30px;
}
