@media (max-width: $tablet) {
  #page {
    padding-left: 0;
  }

  #sidebar {
    display: none;
  }

  #navbar {
    display: block !important;
  }

  #showcase {
    height: 75%;
  }

  #contact > iframe {
    height: 710px;
  }
}

@media screen and (max-width: $phone) {
  .container {
    width: auto;
    margin: 0;
    padding: 0;
  }

  #contact > iframe {
    height: 800px;
  }
}
